{% extends 'base.html.twig' %}

{% block title %} {{ topic.topicName }} {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
<div class="example-wrapper">
    <h1>{{ topic.topicName }}✅</h1>

    <div class="secondarynav">
        <a href="/">Forum</a> >
        <a href="{{ path('category_show', {'categoryName': topic.categoryId.categoryName}) }}"> 
        {{ topic.categoryId.categoryName }}</a>
    </div>
    
        {% if is_granted('ROLE_USER') %}
            <a href="#">DELETE TOPIC</a>
        {% endif %}

        {% if app.user == topic.userId %}
            <a href="{{ path('topic_edit', {'id': topic.id, 'topicName': topic.topicName|replace({' ': '-'}) }) }}">
            EDIT TOPIC</a>
        {% endif %}
    <div class="topic-info">
        <h2>User: 
            <a href="{{ path('user_show', {'username': topic.userid.username}) }}">{{ topic.userid.username }}</a>
        </h2>
        <h3> {{ topic.createdAt|date("H:i:s d/m/Y") }} </h3>
        <p> {{topic.body}} </p>

        {% for tag in topic.tags %}
            <h5><a href="{{ path('tag_show', {'tagName': tag.tagName}) }}"> {{ tag.tagName }}</a></h5>
        {% endfor %}
        
    </div>

    {% for post in topic.posts %}
        <div class="post">
            <h2>User: 
                <a href="{{ path('user_show', {'username': post.userid.username}) }}">{{ post.userid.username }}</a>
            </h2>
            <h3> {{ post.createdAt|date("H:i:s d/m/Y") }} </h3>
            <p> {{ post.body }} </p>
        </div>
        {% if is_granted('ROLE_USER') %}
            <a href="#">DELETE</a>
        {% endif %}
    {% endfor %}

    
    {% if is_granted('ROLE_USER') %} 
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    {% endif %}
    
    
</div>
{% endblock %}
